/* 
    Created on : Feb 8, 2023, 10:45:15 PM
    Author     : david
*/

@font-face {
  font-family: JosefinSans-Medium;
  src: url(../fonts/JosefinSans-Medium.ttf);
}

@font-face {
  font-family: JosefinSans-Regular;
  src: url(../fonts/JosefinSans-Regular.ttf);
}

html  {
    height: 100%;
    font-family: JosefinSans-Regular;
}


body{
    background: #a6d3d6;
    margin: 0;
    height: calc(100% - 158px);
    
}

a , a:visited{
    color: black;
    text-decoration: none;
}


#content-wraper{
    margin: 0 auto;
    margin-top: 148px;
    width: 80%;
    background-color: #f3f3f3;
    padding: 5px;
    position: relative;
    padding-bottom: 70px;
    min-height: calc(100% - 65px);
}

nav#mainNav{
    width: 100%;
    position: fixed;
    top: 0;
    height: 148px;
    background-color: #feca52;
    z-index: 10;
}

#nav-wrraper{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

#logo{
    display: inline-block;
    margin-left: 20px;
    float: left;
}

.nav-item{
    float: left;
    height: 100%;
}

.nav-item a{
    color: #3d3d3c;
    display: inline-block;
    font-size: 30px;
    line-height: 128px;
    vertical-align: middle;
    padding: 10px;
    margin-left: 40px;
    font-family: JosefinSans-Medium;
}

.nav-item a:hover{
    background-color: #e8a614;
    color: white;
}

#categories-wrraper{
    padding: 30px;
}

.category-option{
    display: inline-block;
    font-family: JosefinSans-Medium;
    font-size: 35px;
    padding: 10px;
    margin: 60px;
    border: 1px solid;
}
